<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
<title th:text="${title}">Title</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../../css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="http://www.thymeleaf.org"> Thymeleaf -
					Plain </a>
				<ul class="nav">
					<li><a th:href="@{/}" href="home.html"> Home </a></li>
					<li><a th:href="@{/logout}" href="logout"> Logout </a></li>
				</ul>
			</div>
		</div>
			
		<div class="panel panel-default">
		  <div class="panel-heading">Boktour Application Interface Debugger</div>
		  <div class="panel-body">
			<form action="/proxy">
			  <div class="form-group">
			    <label for="name">Name</label>
			    <input type="email" class="form-control" id="name" placeholder="Name"></input>
			  </div>
			  <div class="form-group">
			    <label for="parameters">Parameters</label>
				<textarea class="form-control" rows="3" id="parameters" placeholder="Parameters"></textarea>
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
		  </div>
		</div>

	</div>
</body>
</html>
